/* Mobile First */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a1b9a;
  color: white;
  padding: 1rem;
}

.header-container h1 {
  margin: 0;
}

.header-container nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header-container nav ul li {
  margin-left: 1rem;
}

.header-container nav ul li a {
  text-decoration: none;
}

.form-group1 {
  margin-bottom: 1rem;
}

.form-group1 label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-group1 input,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

button {
  padding: 0.5rem 1rem;
  background-color: #6a1b9a;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#photo-preview {
  max-width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* Mobile Layout */
[data-view='entry-form'] {
  display: flex;
  flex-direction: column;
}

[data-view='entry-form'] img {
  order: 0;
  height: auto;
  margin-bottom: 1rem;
}

.button-container {
  order: 3; /* 按钮在表单元素下方 */
  display: flex;
  justify-content: flex-end; /* 按钮靠右 */
}

@media (width >= 768px) {
  [data-view='entry-form'] {
    flex-direction: row;
    flex-shrink: 0;
    flex-wrap: wrap;
  }

  .combine {
    width: 50%;
  }

  [data-view='entry-form'] img {
    padding-right: 3px;
    width: 50%;
  }

  #footer {
    width: 100%;
  }
}
